body {
  width: 100%;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
  font-style: normal;
}

.map-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.info-container {
  position: fixed;
  left: 250px;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  z-index: 1;
  transition: all 0.5s;
}

/* 스케쥴 정보 */
.schedule-info {
  width: 100%;
  word-wrap: break-word;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  width: 300px;
  padding: 20px;
  background-color: rgb(255, 255, 255, 0.5);
  border: 3px solid #4fd1c5;
  border-radius: 20px;
}

.schedule-info > p {
  margin: 0px;
  font-size: 16px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-info > .name {
  font-size: 22px;
  text-align: center;
}

.category {
  color: white;
  border-radius: 5px;
  padding: 5px 10px;
}
/* 스케쥴 정보 End */


/* 교통 정보 */
.distance-info {
  width: 300px;
  padding: 10px 20px;
  background-color: rgb(255, 255, 255, 0.5);
  border: 3px solid #4fd1c5;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.distance-info > .row-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.distance-info > .vote-head {
  font-size: 18px;
}

.distance-info .address {
  font-size: 12px;
}

.distance-info > .distance {
  display: flex;
  justify-content: space-between;
}

.distance-info .transporter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.distance-info .vote-number {
  width: 35px;
  height: 35px;
  background-color: #4fd1c5;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.distance-info img {
  width: 50px;
  height: 50px;
}

.distance-info p {
  margin: 0;
  padding: 0;
}

.distance-info span {
  text-align: center;
}

.distance-info i {
  border-radius: 50%;
  transition: all 0.2s;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.fee > span {
  font-size: 18px;
}

/* 커스텀 오버레이 */
.customoverlay {
  position: relative;
  bottom: 85px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  float: left;
}
.customoverlay:nth-of-type(n) {
  border: 0;
  box-shadow: 0px 1px 2px #888;
}
.customoverlay a {
  display: block;
  text-decoration: none;
  color: #000;
  text-align: center;
  border-radius: 6px;
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  background: #d95050;
  background: #d95050
    url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/arrow_white.png)
    no-repeat right 14px center;
}
.customoverlay .title {
  display: block;
  text-align: center;
  background: #fff;
  margin-right: 35px;
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
}
.customoverlay:after {
  content: "";
  position: absolute;
  margin-left: -12px;
  left: 50%;
  bottom: -12px;
  width: 22px;
  height: 12px;
  background: url("https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png");
}


/* ---- 맴버 컨테이너 ---- */
.member-container {
  display: none;
  width: 150px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 1;
  transition: all 0.5s;
  padding: 70px 10px 50px;
}

.hide-container {
  right: -150px;
}

#name-serach {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #BBBBBB;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#name-serach > input{
  width: 90%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0);
}

#name-serach > i{
  cursor: pointer;
  transition: all 0.2s;
}

#name-serach > i:hover{
  color: #4fd1c5;
}
/* ---- 이름 검색 End ---- */

/* ---- 검색 리스트 ---- */
#search-container {
  position: relative;
  width: 100%;
}

#search-list-container{ 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  max-height: 200px;
  overflow-y: auto; 
  border: #BBBBBB 1px solid;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
  display: none;
}

#search-list-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-item {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
  cursor: pointer;
}

.member-image {
  width: 40px;
  height: 40px;
}

.member-image > img{
  width: 35px;
  height: 35px;
  border-radius: 10px;
  object-fit: contain;
}

.member-info {
  margin: 0px;
  font-size: 12px;
}

#search-list > .search-item:hover{
  background-color: lightgray;
}

.search-item > i {
  margin-left: auto;
  font-size: 28px;
  cursor: pointer;
}
/* ---- 검색 리스트 End---- */

/* ---- 추가된 맴버 ---- */
.member-list {
  width: 100%;
  max-height: calc(100vh-200px);
  overflow-y: auto; 
  padding: 0;
  margin: 0;
}

.member-list > .search-item{
  cursor: pointer;
}
/* ---- 추가된 맴버 End ---- */
/* ---- 맴버 컨테이너 ---- */



/* 기타 버튼들 */
.member-btn {
  display: none;
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 7px 15px;
  color: white;
  background-color: #4fd1c5;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
  z-index: 1;
  transition: all 0.3s;
}

.member-btn:hover{
  background-color: #35f2e1;
}

.del-btn {
  width: 43px;
  height: 43px;
  position: fixed;
  top: 11px;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: tomato;
  font-size: 1.6rem;
  padding: .1rem .55rem;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
  z-index: 1;
  transition: all 0.3s;
  cursor: pointer;
}

.del-btn:hover{
  background-color: crimson;
}

@media (max-width: 800px) {
  .info-container {
    top: 80px;
    left: 20px;
  }
}
