body {
  width: 100%;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
  font-style: normal;
}

.map-container {
  width: 100%;
  height: 100vh;
  z-index: 0;
}


/* 장소 검색 */
.search-container {
  width: 300px;
  position: fixed;
  top: 20px;
  left: 270px;
  display: flex;
  flex-direction: column;
  align-items: start;
  z-index: 3;
  transition: all 0.5s;
  padding-bottom: 20px;
  gap:5px;
}
/* ---- 검색창 ---- */
.place-search {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #BBBBBB;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.place-search > input{
  width: 90%;
  border: none;
  font-size: 14px;
  font-weight: bold;
}

.place-search > input:focus{
  border: none
}

.place-search > i{
  cursor: pointer;
  transition: all 0.2s;
}

.place-search > i:hover{
  color: #4fd1c5;
}
/* ---- 검색창 End ---- */

/* ---- 검색 리스트 ---- */
.search-list-container { 
  position: absolute;
  top: 85px;
  width: 100%;
  max-height: 250px;
  overflow-y: auto; 
  border: #BBBBBB 1px solid;
  border-radius: 5px;
  background-color: white;
  z-index: 2;
  display: none;
}

.search-list-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-list-container li{
  padding: 5px 10px;
  cursor: pointer;
}

.search-list-container p{
  margin: 0px;
}

.search-list-container p:first-child{
  font-size: 14px;
}

.search-list-container p:nth-child(2){
  font-size: 12px;
  color: .414141;
}

.search-list-container li:hover{
  background-color: lightgray;
}
/* ---- 검색 리스트 End ----*/

/* ---- 검색 장소 오버레이 ---- */
.search-info-container {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  border: 2px solid #4fd1c5;
  border-radius: 10px;
  padding: 15px;
  background-color: white;
  gap: 5px;
  transform: translateY(-120px);
  z-index: 1;
}

.search-info-container > p {
  margin: 0px;
  font-size: 13px;
}

.search-info-container > .name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  gap: 10px;
}

.search-info-container a {
  text-decoration: none;
  color: #4fd1c5;
}

.search-info-container > .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-info-container .add-btn {
  padding: 7px 15px;
  color: white;
  background-color: #4fd1c5;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
}

.search-info-container .add-btn:hover {
  background-color: #35f2e1;
  transition: all 0.3s;
}

.search-info-container i {
  cursor: pointer;
  font-size: 24px;
  transition: all 0.2s;
}

.search-info-container i:hover {
  color: #4fd1c5;
}
/* ---- 검색 장소 오버레이 End---- */


/* ---- 투표 항목 ---- */
.vote-list-container{
  position: absolute;
  top: 100px;
  max-height: 80%;
  padding: 25px 0 100px;
  overflow-y: auto; 
  z-index: 1;
}

.vote-list-container > .vote-list{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  gap: 10px;

}

.vote-list-container .vote-item{
  width: 100%;
  padding: 10px 20px;
  background-color: rgba(255, 255, 255, 0.5);
  /* background-color: rgb(79, 209, 197, 0.7); */
  background-color: white;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.vote-item > .row-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.vote-item > .vote-head{
  font-size: 18px;
}


.vote-item .address{
  font-size: 12px;
}

.vote-item > .distance {
  display: flex;
  justify-content: space-between;
}

.vote-item .transporter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.vote-item .vote-number {
  width: 35px;
  height: 35px;
  background-color: #4fd1c5;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: auto;
}

.vote-item img{
  width: 50px;
  height: 50px;
}

.vote-item p{
  margin: 0;
  padding: 0;
}

.vote-item span {
  text-align: center;
}

.vote-item i{
  border-radius: 50%;
  transition: all 0.2s;
  font-size: 30px;
  cursor: pointer;
  color: white;
}

.fee > span {
  font-size: 15px;
}

.vote-item i::before {
  border-radius: 50%;
  border: 1px solid #4fd1c5;
}

.vote-item i:hover {
  cursor: pointer;
  color: #4fd1c5
}

.vote-item.choosed i {
  color: #4fd1c5;
}

.vote-item.choosed i:hover {
  color: white;
}

.vote-list-container {
  max-height: 100%;
  position: fixed;
  top: 90px;
  left: 270px;
  width: 300px;
  z-index: 1;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
  transition: all 0.5s;
}
.vote-list-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
/* ---- 투표 항목 End---- */


/* ---- 맴버 컨테이너 ---- */
.member-container {
  width: 150px;
  height: 100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  background-color: rgb(255, 255, 255, 0.5);
  z-index: 1;
  transition: all 0.5s;
  padding: 70px 10px 50px;
}

.hide-container {
  right: -150px;
}

#name-serach {
  width: 100%;
  padding: 5px 10px;
  border: 1px solid #BBBBBB;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

#name-serach > input{
  width: 90%;
  border: none;
  font-size: 14px;
  font-weight: bold;
  background-color: rgb(255, 255, 255, 0);
}

#name-serach > i{
  cursor: pointer;
  transition: all 0.2s;
}

#name-serach > i:hover{
  color: #4fd1c5;
}
/* ---- 이름 검색 End ---- */

/* ---- 검색 리스트 ---- */
#search-container {
  position: relative;
  width: 100%;
}

#search-list-container{ 
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
  max-height: 200px;
  overflow-y: auto; 
  border: #BBBBBB 1px solid;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
  display: none;
}

#search-list-container > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.search-item {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
  padding: 5px 5px;
  cursor: pointer;
}

.member-image {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  overflow: hidden;
}

.member-image > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.member-info {
  margin: 0px;
  font-size: 12px;
}

#search-list > .search-item:hover{
  background-color: lightgray;
}

.search-item > i {
  margin-left: auto;
  font-size: 28px;
  cursor: pointer;
}
/* ---- 검색 리스트 End---- */

/* ---- 추가된 맴버 ---- */
.member-list {
  width: 100%;
  position: absolute;
  top: 115px;
  max-height: calc(100vh - 190px);
  overflow-y: auto; 
  z-index: 3;
  padding: 0;
  margin: 0;
}

.member-list > .search-item{
  cursor: pointer;
}
/* ---- 추가된 맴버 End ---- */
/* ---- 맴버 컨테이너 ---- */



/* 기타 버튼들 */
.member-btn {
  position: fixed;
  right: 20px;
  bottom: 20px;
  padding: 7px 15px;
  color: white;
  background-color: #4fd1c5;
  font-size: 16px;
  font-weight: bold;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
  z-index: 1;
  transition: all 0.3s;
}

.member-btn:hover{
  background-color: #35f2e1;
}

.del-btn {
  width: 43px;
  height: 43px;
  position: fixed;
  top: 11px;
  right: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: tomato;
  font-size: 1.6rem;
  padding: .1rem .55rem;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
  z-index: 1;
  transition: all 0.3s;
  cursor: pointer;
}

.del-btn:hover{
  background-color: crimson;
}


/* ---- 정보창 ----*/
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.text-container > p {
  margin: 0;
}

.text-container > .name {
  font-size: 18px;
}

.text-container > .deadline {
  font-size: 14px;
}

.end-btn {
  width: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  padding: 10px;
  border-radius: 10px;
  color: white;
  background-color: cornflowerblue;
  box-shadow: 5px 5px 5px lightgray;
  transition: all 0.3s;
  cursor: pointer;
}

.end-btn:hover {
  background-color: slateblue;
}
/* ---- 정보창 End----*/

.iw {
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 14px;
}


/* 기타 버튼들 End */

@media (max-width: 800px) {
  
  .search-container {
    width: 250px;
    top: 20px;
    left: 100px;
  }

  .vote-list-container {
    width: 250px;
    left: 20px;
  }
}