body {
  margin: 0px;
  display: flex;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
  font-style: normal;
}

/* 좌측 배너 */
.left-banner {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4fd1c5;
  transition: all 0.5s;
}

.left-logo {
  width: 380px;
}
/* 좌측 배너 end*/

/* 우측 컨테이너 */
.right-logo {
  width: 35%;
  transition: all 0.5s;
  margin: 20px 0px 0px;
}

.right-section {
  width: 100%;
	height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* 우측 컨테이너 end*/


/* 입력 폼 - register */
.form-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.input-group-text {
  background-color: #4fd1c5;
  color: white;
  border: 0px;
}

.form-control {
  border: #4fd1c5 1px solid;
  font-size: 14px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
  font-style: normal;
}

.input-btn {
  border: 0px;
  border-top-right-radius: 5px !important;
  border-bottom-right-radius: 5px !important;
  background-color: #4fd1c5;
  color: white;
  box-shadow: 0px;
  font-size: 12px;
  font-family: "Nanum Gothic Coding", monospace;
  font-weight: bold;
}

.valid-feedback, .invalid-feedback {
  margin: 0px;
  font-size: 12px;
  text-align: center;
}

/* 입력 폼 End*/


/* 완료 버튼 */
.compelte-container {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.compelte-container > button {
  width: 100%;
  padding: 10px;
  color: white;
  background-color: #4fd1c5;
  font-size: 18px;
  font-weight: bold;
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px 5px 5px lightgray;
}

.compelte-container > button:hover {
  background-color: #35f2e1;
  transition: all 0.3s;
}

.compelte-container > p {
  margin: 0px;
  font-size: 12px;
  color: tomato;
  display: none;
}

.compelte-container > a {
  text-align: center;
  text-decoration: none;
  color: black;
  transition: all 0.3s;
  font-size: 14px;
}

.compelte-container > a:hover {
  font-size: 15px;
}
/* 완료 버튼 End */

/* 반응형 쿼리 */
@media (max-width: 1000px) {
  .left-banner {
    width: 0px;
  }

  .form-container {
    width: 85%;
  }

  .compelte-container {
    width: 85%;
  }
}
/* 반응형 쿼리 End*/
