<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="today.meevote.domain.schedule_vote.dao.ScheduleVoteDao">

    <select id="getVoteScheduleList">
        SELECT
            s.schedule_id,
            s.name,
            sc.category_name,
            sc.color,
            TO_CHAR(s.vote_deadline, 'YYYY-MM-DD HH24:MI') AS voteDeadline,
            s.is_group
        FROM
            member_schedule ms
            JOIN schedule s ON ms.schedule_id = s.schedule_id
            JOIN schedule_category sc ON s.schedule_category_id = sc.schedule_category_id
            LEFT JOIN schedule_place sp ON s.schedule_id = sp.schedule_id
        WHERE
            ms.email = #{email}
            AND s.is_group = 1
            AND sp.schedule_id IS NULL
        ORDER BY s.vote_deadline ASC
    </select>


</mapper>